/*Smartphone*/
@media screen and (min-width: 320px) and (max-width: 425px) {
  .popUpPhoto {
    display: none;
  }

  .DetailSide {
    padding-left: 0;
    padding-bottom: 0;
  }
  .modal {
    padding-bottom: 0;
    width: 90%;
  }

  .characterName {
    font-size: 25px;
    padding-bottom: 15px;
  }
}
/*Tablet*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  .modal {
    width: 90%;
  }

  .popUpPhoto {
    display: none;
  }

  .DetailSide {
    position: static;
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 0;
  }
}

/*Laptop*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .modal {
    width: 90%;
  }
}

/*Laptop G*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
}

/*4k*/
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .modal {
    width: 50%;
  }
}

/*Ultrawide*/
@media screen and (min-width: 2560px) and (max-width: 3150px) {
  .modal {
    width: 40%;
  }

  .DetailSide {
    font-size: 20px;
  }

  .characterName {
    font-size: 50px;
  }
}
