/*Smartphone*/
@media screen and (min-width: 320px) and (max-width: 425px) {
  .articlesContainer {
    margin-left: 25px;
    margin-right: 25px;
  }

  .smallCardContainer {
    display: flex;
    flex-direction: column;
  }
}

/*Tablet*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  .articlesContainer {
    margin-left: 75px;
    margin-right: 75px;
  }

  .smallCardContainer {
    display: flex;
    flex-direction: column;
  }
}

/*Laptop*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .articlesContainer {
    margin-left: 75px;
    margin-right: 75px;
  }

  .smallCardContainer {
    display: flex;
    flex-direction: column;
  }
}

/*Laptop G*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .articlesContainer {
    margin-left: 50px;
    margin-right: 50px;
  }
}

/*4K*/
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .articlesContainer {
    margin-left: 300px;
    margin-right: 300px;
  }

  .smallCardContainer {
    gap: 200px;
    justify-content: flex-start;
    padding-bottom: 20px;
    align-content: center;
  }
}

/*Ultrawide*/
@media screen and (min-width: 2561px) and (max-width: 3150px) {
  .articlesContainer {
    margin-left: 500px;
    margin-right: 500px;
  }
  .smallCardContainer {
    gap: 280px;
    justify-content: flex-start;
    padding-bottom: 20px;
    align-content: center;
  }
}


