<div class="articlesContainer">
  <div class="menuTitleContainer">
    <app-menu-title></app-menu-title>
  </div>
  <div class="mainCardContainer">
    <app-main-card
    id="{{ result[0].idContent }}"
    photoCover="{{ result[0].photoCover }}"
    contentTitle="{{ result[0].contentTitle }}"
    contentDescription="{{ result[0].contentDescription }}"
    contentNews="{{ result[0].contentNews }}"
    contentDate="{{ result[0].contentDate }}"
    ></app-main-card>
  </div>
  <div class="smallCardContainer">
    <app-small-card
    id="{{ result[1].idContent }}"
    photoCover="{{ result[1].photoCover }}"
    contentTitle="{{ result[1].contentTitle }}"
    contentDescription="{{ result[1].contentDescription }}"
    contentNews="{{ result[1].contentNews }}"
    contentDate="{{ result[1].contentDate }}"
    ></app-small-card>

    <app-small-card
    id="{{ result[2].idContent }}"
    photoCover="{{ result[2].photoCover }}"
    contentTitle="{{ result[2].contentTitle }}"
    contentDescription="{{ result[2].contentDescription }}"
    contentNews="{{ result[2].contentNews }}"
    contentDate="{{ result[2].contentDate }}"
    ></app-small-card>

    <app-small-card
    id="{{ result[3].idContent }}"
    photoCover="{{ result[3].photoCover }}"
    contentTitle="{{ result[3].contentTitle }}"
    contentDescription="{{ result[3].contentDescription }}"
    contentNews="{{ result[3].contentNews }}"
    contentDate="{{ result[3].contentDate }}"
    ></app-small-card>
  </div>
  <div class="smallCardContainer">
    <app-small-card
    id="{{ result[4].idContent }}"
    photoCover="{{ result[4].photoCover }}"
    contentTitle="{{ result[4].contentTitle }}"
    contentDescription="{{ result[4].contentDescription }}"
    contentNews="{{ result[4].contentNews }}"
    contentDate="{{ result[4].contentDate }}"
    ></app-small-card>
    <app-small-card
    id="{{ result[5].idContent }}"
    photoCover="{{ result[5].photoCover }}"
    contentTitle="{{ result[5].contentTitle }}"
    contentDescription="{{ result[5].contentDescription }}"
    contentNews="{{ result[5].contentNews }}"
    contentDate="{{ result[5].contentDate }}"
    ></app-small-card>
    <app-small-card
    id="{{ result[6].idContent }}"
    photoCover="{{ result[6].photoCover }}"
    contentTitle="{{ result[6].contentTitle }}"
    contentDescription="{{ result[6].contentDescription }}"
    contentNews="{{ result[6].contentNews }}"
    contentDate="{{ result[6].contentDate }}"
    ></app-small-card>
  </div>
</div>

