/*Smartphone*/
@media screen and (max-width: 767px) {
  .articlesContainer {
    margin-left: 75px;
    margin-right: 75px;
  }

  .smallCardContainer {
    display: flex;
    flex-direction: column;
  }
}
/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {

}
/*Desktop*/
@media screen and (min-width: 1024px) {

}
